@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* for the mobile region */
.mobile {
  max-width: 767;
  background-color: red;
  color: black;
  height: 100vh;
}

.notes-headimg {
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
}



/* for the desktop browsers */

.screen {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  /* width: 100vw; */
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-y: hidden;
  margin: 0;
}

.title-half {
  
  width: 30vw;
  height: 100vh;
  justify-content: center;
  text-align: left;
  align-items: center;
}

.app-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
}
.create-btn-div {
  text-align: left;
  align-items: center;
}
.createBtn {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  letter-spacing: 0.02em;
  
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 3rem;
  border: none;
  background-color: black;
  color: white;

}






/* THE NOTES REGION */
.notes-half {
  display: flex;
  flex-direction: column;
  background-color: #F7ECDC;
  width: 70vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  
}

.standby-image {
  width: 35rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.app-name2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.02em;
  

}
.text-under-name {
  width: 34rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  
}

.encryption-text {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  justify-content:flex-end;
}

.tiny-lock {
  width: 13px;
  padding-right: 2px;
}