@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.note-group {
  width: 100%;
  height: 4rem;
  display: flex;

  align-items: center;
}

.initial-logo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 97.69%;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.initial-text {
  font-family: "Roboto";
}

.group-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 24px;
  letter-spacing: 0.02em;

  color: #000000;
  padding-left: 1rem;
}
