@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.notes-half {
  display: flex;
  flex-direction: column;
  background-color: #f7ecdc;
  width: 70vw;
  height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.standby-image {
  width: 35rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.app-name2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.02em;
}
.text-under-name {
  width: 34rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
}

.encryption-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  justify-content: flex-end;
}

.tiny-lock {
  width: 13px;
  padding-right: 2px;
}

.parent-notes-area {
  margin: 0 auto;
  width: 70vw;
  position: relative;
  height: 80vh;
  background-color: red;
}
.notes-area-footer {
  display: block;
  background-color: #e8e8e8;
  position: absolute;
  bottom: -80px;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.textarea-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 0.6rem;
  border: 1px solid #cccccc;
  height: 80%;
  width: 95%;
  background-color: white;
}
.input-notes {
  border: none;
  background-color: white;
  height: 80%;
  width: 95%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 35px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: left;
  vertical-align: top;
  
  border-radius: 0.6rem;
}

.input-notes::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 35px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #9a9a9a;
  text-align: left;
  text-indent: 5px;
}

button {
  background-color: white;
  border: none;
  position: "absolute";
  bottom: "0";
  right: "0";
}